.display {
  height: 60px;
  background-color:dodgerblue;
  width: 100%;
}

.display p {
  font-size: 40px;
  margin: 5px;
  margin-inline: fill;
  color: white;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  color: black;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: aliceblue;
}
